table {
  border-color: #555;

  thead tr {
    th, td {
      background-color: #404040;
    }
  }

  tbody tr td {
    background-color: #363636;
  }
}

.back {
  transition: .3s;
  cursor: pointer;
}
.back:hover {
  rotate: -10deg;
  scale: 1.1;
}