table {
  border-color: #555;
  text-wrap: nowrap;

  thead tr {
    th, td {
      background-color: #404040;
    }
  }

  tbody tr td {
    background-color: #363636;
  }
}

.back {
  transition: .3s;
  cursor: pointer;
}
.back:hover {
  rotate: -10deg;
  scale: 1.1;
}

.pagination-dark .page-link {
  background-color: #212529;
  color: #fff;
  border-color: #343a40;
}

.pagination-dark .page-item.active .page-link {
  background-color: #343a40;
  border-color: #495057;
  color: #fff;
}

.pagination-dark .page-item.disabled .page-link {
  background-color: #212529;
  color: #6c757d;
  border-color: #343a40;
  cursor: not-allowed;
}